body {
    font-family: 'Montserrat', sans-serif;
}

h1 {

    text-transform: uppercase;
    max-width: 100%;
    word-break: break-word;
}

h2 {
    text-decoration: none;
}

.contactoyFormulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 620px;
    margin: auto;
}

.cajasContacto,
.cajaMapa {
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    width: 90%;
}

.cajasContacto {
    background-color: rgb(201, 211, 215);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
}

.cajasContacto form {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

.cajasContacto h1 {
    font-size: 25px;
    padding: 5px;
}

.cajasContacto p {
    padding: 5px;
}

.cajaMapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.cajaMapa iframe {
    max-width: 100%;
    max-height: 100%;
    margin: 15px;
}

textarea {
    max-width: 200px;
    resize: vertical;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .cajasContacto form {
        max-width: 97%;
    }
}

@media screen and (min-width: 990px) and (max-width: 1880px) {
    .contactoyFormulario {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 90%;
    }

    .cajasContacto,
    .cajaMapa {
        width: 45%;
        margin: 5px;
    }

    .cajasContacto {
        order: 1;
        width: 40%;
        margin: 30px 5px;
        padding: 17px;
    }

    .cajaContacto form {
        max-width: 700px;
        margin: 0 auto;
    }

    .cajaMapa {
        order: 2;
        width: 55%;
        margin: 5px;
    }
}

input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #000000;
    outline: none;
    transform: scale(1.1);
    background-color: #95c29d;

}