.carouselContainer{
    margin: 10px auto;
    width: 90%;
    max-width: 900px;
    padding: 10px;
    filter: brightness(80%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 2); 
}
/* .carouselMedidas img{
    height: 500px
}
.carouselMedidas1 img{
    height: 600px
} */