h1 {
    padding-top: 25px;
    padding-bottom: 20px;
}
.carouselContainer{
    margin: 20px auto;
    width: 90%;
    width: 900px;
    padding: 10px;
    filter: brightness(80%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 2); 
}
.carouselMedidas img{
    height: auto;
    width: auto;
}
.carouselMedidas1 img{
    height: auto;
    width: auto;
}
@media (min-width: 275px) and (max-width: 500px) {
    .carouselContainer {
        max-width: 70%; 
        margin: 15px auto;
    }

    .carouselMedidas1  {
        height: 280px;

    }
    .carouselMedidas {
        height: 200px;

    }
    .carouselMedidas img{
        height: 100%;
        width: auto;
    }
    .carouselMedidas1 img{
        height: 100%;
        width: auto;
}}
@media (min-width: 500px) and (max-width: 990px) {
    .carouselContainer {
        max-width: 70%; 
        margin: 15px auto;
    }

    .carouselMedidas1  {
        height: 400px;

    }
    .carouselMedidas {
        height: 270px;

    }
    .carouselMedidas img{
        height: 100%;
        width: auto;
    }
    .carouselMedidas1 img{
        height: 100%;
        width: auto;}
    }
    @media (min-width: 990px) and (max-width: 1660px) {
        .carouselContainer {
            max-width: 70%; 
            margin: 15px auto;
        }
    
        .carouselMedidas1  {
            height: 900px;
    
        }
        .carouselMedidas {
            height: 500px;
    
        }
        .carouselMedidas img{
            height: 100%;
            width: auto;
        }
        .carouselMedidas1 img{
            height: 100%;
            width: auto;}
        }