.infoGeneral {
    display: flex;
    flex: 1; 
    padding-right: 20px;
    font-size: 22px;
}

div .infoGeneral h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.imagenesIndex {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    margin: 5px 5px;
    align-content: center;
}

.imagenesIndex img {
    margin-top: 10px;
    width: 80%; 
    max-height: auto;
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px;
}

.infoGeneral p {
    text-align: center;
    margin: 20px 40px;
}

@media (min-width: 275px) and (max-width: 500px) {
    .bloqueInicio .infoGeneral  {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .infoGeneral h1 {
      order: 1;
    }
    .infoGeneral p {
        order: 2;
      }

    .imagenesIndex {
        height: auto;
        margin-top: 10px;
    }
}

@media (min-width: 500px) and (max-width: 990px) {
    .bloqueInicio .infoGeneral  {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .infoGeneral h1 {
      order: 1;
    }
    .infoGeneral p {
        order: 2;
      }

    .imagenesIndex {
        height: auto;
        margin-top: 10px;
    }
}

@media (min-width: 990px) and (max-width: 1600px) {
    
    .bloqueInicio .infoGeneral  {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .infoGeneral h1 {
      order: 1;
    }
    .infoGeneral p {
        order: 2;
      }

    .imagenesIndex {
        height: auto;
        margin-top: 10px;
        flex-direction: row;
        justify-content: center;
    }

    .imagenesIndex img {
        width: 50%;
        height: 300px;
    }
}