.nosotrosBox {
    display: grid;
    /* grid-template-columns: 1fr; */
    align-items: center;
    text-align: center; 
  }
  
  .textoNosotros {
    grid-column: 1 / span 1;
  }
  
  .textoNosotros h1 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .imgNosotros {
    grid-column: 2 / span 1; 
    padding: 10px;
    margin: 5px 5px;
    text-align: center;
  }
  
  .imgNosotros img {
    max-width: 100%; 
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px;
  }
  
  @media screen and (min-width: 320px) and (max-width: 500px) {
    .imgNosotros {
      order: 2; 
      margin-top: 20px;
      grid-column: 1 / span 1; 
    }
  }

  @media (min-width: 500px) and (max-width: 990px) {
    .imgNosotros {
        order: 2; 
        margin-top: 20px;
        grid-column: 1 / span 1;  
      }
}
@media (min-width: 990px) and (max-width: 1600px) {
    .nosotrosBox {
      grid-template-columns: 1fr 2fr;
      text-align: center;
      grid-column: 2 / span 1; 
      padding: 5px;
    }
  
    .textoNosotros h1 {
      order: 1;
      padding: 5px;
    
    }
  
    .textoNosotros p {
      order: 2;
      padding: 5px;

    
    }
  
    .imgNosotros {
        
      margin-top: 10px;
      text-align: center;
    }
  
    .imagenesIndex img {
      width: 100%;
      height: auto; 
    }
  }