/*                            NAVEGADOR CSS                     */
nav ul li a {
  position: relative;
  color: black;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: black;
  transform: scale(0);
}

nav ul li a:hover:before {
  transform: scale(1);
}

.infoGeneral {
  display: flex;
  flex: 1;
  padding-right: 20px;
  font-size: 22px;
}

div .infoGeneral h1 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.imagenesIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 5px 5px;
  align-content: center;
}

.imagenesIndex img {
  margin-top: 10px;
  width: 80%;
  max-height: auto;
  border: 2px solid black;
  border-radius: 30px;
  padding: 5px;
}

.infoGeneral p {
  text-align: center;
  margin: 20px 40px;
}

@media (min-width: 275px) and (max-width: 500px) {
  .bloqueInicio .infoGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoGeneral h1 {
    order: 1;
  }
  .infoGeneral p {
    order: 2;
  }
  .imagenesIndex {
    height: auto;
    margin-top: 10px;
  }
}
@media (min-width: 500px) and (max-width: 990px) {
  .bloqueInicio .infoGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoGeneral h1 {
    order: 1;
  }
  .infoGeneral p {
    order: 2;
  }
  .imagenesIndex {
    height: auto;
    margin-top: 10px;
  }
}
@media (min-width: 990px) and (max-width: 1600px) {
  .bloqueInicio .infoGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoGeneral h1 {
    order: 1;
  }
  .infoGeneral p {
    order: 2;
  }
  .imagenesIndex {
    height: auto;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
  }
  .imagenesIndex img {
    width: 50%;
    height: 300px;
  }
}
.nosotrosBox {
  display: grid;
  /* grid-template-columns: 1fr; */
  align-items: center;
  text-align: center;
}

.textoNosotros {
  grid-column: 1/span 1;
}

.textoNosotros h1 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.imgNosotros {
  grid-column: 2/span 1;
  padding: 10px;
  margin: 5px 5px;
  text-align: center;
}

.imgNosotros img {
  max-width: 100%;
  border: 2px solid black;
  border-radius: 30px;
  padding: 5px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .imgNosotros {
    order: 2;
    margin-top: 20px;
    grid-column: 1/span 1;
  }
}
@media (min-width: 500px) and (max-width: 990px) {
  .imgNosotros {
    order: 2;
    margin-top: 20px;
    grid-column: 1/span 1;
  }
}
@media (min-width: 990px) and (max-width: 1600px) {
  .nosotrosBox {
    grid-template-columns: 1fr 2fr;
    text-align: center;
    grid-column: 2/span 1;
    padding: 5px;
  }
  .textoNosotros h1 {
    order: 1;
    padding: 5px;
  }
  .textoNosotros p {
    order: 2;
    padding: 5px;
  }
  .imgNosotros {
    margin-top: 10px;
    text-align: center;
  }
  .imagenesIndex img {
    width: 100%;
    height: auto;
  }
}
.tituloGenerico {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.tituloGenerico h1 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.contenedorProductos {
  background-image: linear-gradient(to bottom, #bfd4b0, rgb(205, 149, 183));
  padding: 20px;
  margin: auto;
}

.contenedorProductos .card {
  height: 100%;
  background-color: rgb(235, 245, 231);
  border-radius: 20px;
}

.contenedorProductos .card-img-top {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  max-height: 350px;
  max-width: auto;
}

.card img {
  /*  margin-left: 20px; */
  /*  border: 2px solid black; */
  border-radius: 60px;
  padding: 5px;
  background-color: white;
  border-radius: 89px;
  padding: 41px;
  width: auto;
  height: auto;
}

h1 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.carouselContainer {
  margin: 20px auto;
  width: 90%;
  width: 900px;
  padding: 10px;
  filter: brightness(80%);
  box-shadow: 0px 0px 40px rgb(0, 0, 0);
}

.carouselMedidas img {
  height: auto;
  width: auto;
}

.carouselMedidas1 img {
  height: auto;
  width: auto;
}

@media (min-width: 275px) and (max-width: 500px) {
  .carouselContainer {
    max-width: 70%;
    margin: 15px auto;
  }
  .carouselMedidas1 {
    height: 280px;
  }
  .carouselMedidas {
    height: 200px;
  }
  .carouselMedidas img {
    height: 100%;
    width: auto;
  }
  .carouselMedidas1 img {
    height: 100%;
    width: auto;
  }
}
@media (min-width: 500px) and (max-width: 990px) {
  .carouselContainer {
    max-width: 70%;
    margin: 15px auto;
  }
  .carouselMedidas1 {
    height: 400px;
  }
  .carouselMedidas {
    height: 270px;
  }
  .carouselMedidas img {
    height: 100%;
    width: auto;
  }
  .carouselMedidas1 img {
    height: 100%;
    width: auto;
  }
}
@media (min-width: 990px) and (max-width: 1660px) {
  .carouselContainer {
    max-width: 70%;
    margin: 15px auto;
  }
  .carouselMedidas1 {
    height: 900px;
  }
  .carouselMedidas {
    height: 500px;
  }
  .carouselMedidas img {
    height: 100%;
    width: auto;
  }
  .carouselMedidas1 img {
    height: 100%;
    width: auto;
  }
}
h1 {
  text-transform: uppercase;
  max-width: 100%;
  word-break: break-word;
}

h2 {
  text-decoration: none;
}

.contactoyFormulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 620px;
  margin: auto;
}

.cajasContacto, .cajaMapa {
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
}

.cajasContacto {
  width: 90%;
  background-color: rgb(201, 211, 215);
}

.cajasContacto h1 {
  max-width: 100%;
  font-size: 25px;
  padding: 5px;
}

.cajasContacto p {
  padding: 5px;
}

.cajaMapa {
  width: 100%;
}

.cajaMapa iframe {
  margin: 15px;
}

@media screen and (min-width: 275px) and (max-width: 990px) {
  .contactoyFormulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    max-height: auto;
    max-width: auto;
    width: 90%;
  }
  .contactoyFormulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  textarea {
    max-width: 200px;
  }
}
@media screen and (min-width: 990px) and (max-width: 1880px) {
  .contactoyFormulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    max-height: auto;
    max-width: auto;
    width: 90%;
  }
  .cajasContacto, .cajaMapa {
    width: 45%;
  }
  .contactoyFormulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
}
input[type=text],
input[type=email],
textarea {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border-color: #000000;
  outline: none;
  transform: scale(1.1);
  background-color: #95c29d;
}

.piePagina {
  width: 100%;
  background-color: rgb(205, 149, 183);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.caja {
  width: 90%;
  max-width: 1200px;
  margin: 10px;
  display: grid;
}

.caja2 {
  width: 90%;
  max-width: 1200px;
  margin: 10px;
  display: grid;
}

.caja3 {
  width: 90%;
  max-width: 1200px;
  margin: 10px;
  display: grid;
}

.piePagina .caja h2 {
  font-size: 20px;
}

.piePagina .caja h3 {
  font-size: 17px;
}

.piePagina .caja p {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

body {
  background-image: linear-gradient(to bottom, #bfd4b0, rgb(205, 149, 183));
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.anchoPagina {
  min-width: 400px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background: #c2e1aa;
  display: table;
  width: 100%;
  height: 100%;
  clear: both;
  content: "";
}/*# sourceMappingURL=main.css.map */